<div class="container">
  <h1>Profile of: <%= @user %></h1>

  <form action="/twyt" method="post">
    <input type="text" name="twyt" id="twyt_box">
    <input type="submit" value="Post!">
  </form>

  <%= styled_flash %>
  <%= erb '_twyts'.to_sym %>

  <h2>Followers:</h2>
  <% if @followed_by != nil %>
    <% @followed_by.each do |follower| %>
      <%= follower.username %></br>
    <% end %>
  <% end %>

  <h2>Following:</h2>
  <% if @follows_users != nil %>
    <% @follows_users.each do |followed_user| %>
      <%= followed_user.username %></br>
    <% end %>
  <% end %>

  </br>

  <a href='/logout'>Logout</a>
</div>
