<div class="container">

  <div class="header">
    <h1>Twytter</h1>
    <nav>
      <ul>
        <li><a href='/logout'>Logout</a></li>
      </ul>
    </nav>
  </div>
  <div class="banner">
  </div>

  <div class="wrapper">
    <div class="side-bar">
      <div class="popeye">
        <div class="gravatar"></div>
        <br>
        <h1><%= @user %>'s profile</h1>
        <br><br><br>

        <div class="compose"
          <h2>Compose new twyt</h2>
          <% if @show_twyt_bar %>
          <form action="/twyt" method="post">
            <input type="text" name="twyt" id="twyt_box">
            <input type="submit" value="Post!">
          </form>

          <%= styled_flash %>
          <% end %>
        </div>

        <div class="followers">
          <h2>Followers:</h2>
            <% @user.is_followed_by.each do |follower| %>
              <%= follower.username %></br>
          <% end %>
        </div>

        <div class="following">
          <h2>Following:</h2>
            <% @user.follows_users.each do |followed_user| %>
              <%= followed_user.username %></br>
          <% end %>
        </div>

      </div>
    </div>
    <div class="log">
      <div class="stream">
        <%= erb '_twyts'.to_sym %>
      </div>
    </div>
  </div>









</div>

