<div class="container">
  <h1>Profile of: <%= @user %></h1>

  <% if @show_twyt_bar %>
    <%= erb :_twyt_bar %>

    <%= styled_flash %>
  <% end %>

  <%= erb '_twyts'.to_sym %>

  <h2>Followers:</h2>
  <% @user.is_followed_by.each do |follower| %>
    <%= follower.username %></br>
  <% end %>

  <h2>Following:</h2>
  <% @user.follows_users.each do |followed_user| %>
    <%= followed_user.username %></br>
  <% end %>

  </br>

  <a href='/logout'>Logout</a>
</div>
