<div class="container">

  <div class="header">
    <h1>Twytter</h1>
    <nav>
      <ul>
        <li><a href='/logout'>Logout</a></li>
      </ul>
    </nav>
  </div>
  <div class="banner">
  </div>

  <div class="wrapper">
    <div class="side-bar">
      <div class="popeye">
        <div class="gravatar"><%= gravatar_tag @user.email, size: 180 %></div>
        <br>
        <h1><%= @user %>'s profile</h1><br>

        <% if !@our_profile %>
        <form action='/follow' method='post'>
          <input type='hidden' name='user' value='<%= @user.id %>'>
          <input type='submit' value='Follow'>
        </form>
        <% end %>
        <br><br>

        <div class="compose"
          <h2>Compose new twyt</h2>
          <% if @our_profile %>
          <%= erb :_twyt_bar %>
          <% end %>

          <%= styled_flash %>
        </div>

        <div class="favourite">
           <h2>Favourites</h2>
           <%= render_twyts(@user.favourites) %>
        </div>

        <div class="followers">
          <h2>Followers:</h2>
          <% @user.is_followed_by.each do |follower| %>
            @<%= follower.profile_link %></br>
          <% end %>
        </div>

        <div class="following">
           <h2>Following:</h2>
           <% @user.follows_users.each do |followed_user| %>
          @<%= followed_user.profile_link %></br>
           <% end %>
        </div>

      </div>
    </div>
    <div class="log">
      <div class="stream">
        <%= render_twyts(@twyt_list) %>
      </div>
    </div>
  </div>

</div>

