<div class="container">
  <h1>Profile of: <%= @user %></h1>
  <% if !@our_profile %>
  <form action='/follow' method='post'>
    <input type='hidden' name='user' value='<%= @user.id %>'>
    <input type='submit' value='Follow'>
  </form>
  <% end %>

  <% if @our_profile %>
    <%= erb :_twyt_bar %>
  <% end %>

  <%= styled_flash %>

  <%= render_twyts(@twyt_list) %>

  <h2>Favourites</h2>
  <%= render_twyts(@user.favourites) %>

  <h2>Followers:</h2>
  <% @user.is_followed_by.each do |follower| %>
    <%= follower.username %></br>
  <% end %>

  <h2>Following:</h2>
  <% @user.follows_users.each do |followed_user| %>
    <%= followed_user.username %></br>
  <% end %>

  </br>

  <a href='/logout'>Logout</a>
</div>
